# Ignore folder named '.idea'
.idea/

# Ignore folder named 'Lib'
Lib/

# Ignore folder named 'Scripts'
Scripts/

# Ignore file named 'pyvenv.cfg'
pyvenv.cfg

# Ignore file named 'pip-selfcheck.json'
pip-selfcheck.json
